@import "../../variables/Variables.module.scss";
@import "../breakpoints.scss";

.navbar {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_right {
    display: flex;
    align-items: center;
    gap: 30px;

    img {
      width: 170px;
      cursor: pointer;
    }

    &_search {
      border: 1px solid $grey;
      border-radius: 10px;
      padding: 0px 20px;
      display: flex;
      gap: 40px;
      align-items: center;

      input {
        border: none
      }
      input:focus {
        outline: none;
      }

      @include ml {
        display: none;
      }
    }
    
  }

  &_left {
    display: flex;
    gap: 30px;
  }
}
